#bg_mainpage{
    background-image: url(Resource/wallpaper_mainpage.jpg);
}

#foreground_mainpage{
    height: 900px;
    background-image: url(Resource/white_trans.png);

}

#myTabContent{
    padding-left: 100px;
    padding-right: 100px;
    height: 70%;
}

#AllTabs{
    background-color: #f5f5f5;
    height: 40%;
    padding-left: 100px;
    padding-right: 100px;
}

#status{
    width: auto;
    height: 50%;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
#input-idcard{
    width: 300px;
}

#input-name{
    width: 300px;
}

#input-lastname{
    width: 300px;
}

#input-lc{
    width: 300px;
}

#input_id_cartab{
    width: 300px;
}

#sel1{
    width: 300px;
}

#sel2{
    width: 300px;
}

#panel_status{
    height: 70%;
    overflow-y: scroll;
}

.scrollMore{
    margin-top:600px;
}

#header_table_garage{
    background-color: #f5f5f5;
}

