#bg_settingpage{
    background-image: url(Resource/wallpaper_mainpage.jpg);
}

#foreground_settingpage{
    height: 900px;
    background-color: white;
}

#AllTabs_setting{
    padding-left: 100px;
    padding-right: 100px;
}

#list_brand{
    align-items: center;
}

#panel_brand{
    width: 80%;
}

#table_garage{
    width: 100%;
}

#panel_garage{
    height: 500px;
    overflow-y: scroll;
}

#panel_car_registration_report{
    height: 500px;
    overflow: scroll;
}

#header_table{
    background-color: gainsboro;
}
