#bg_settingpage{
    background-image: url(Resource/wallpaper_mainpage.jpg);
}

#foreground_settingpage{
    height: 900px;
    background-image: url(Resource/white_trans.png);
}

#AllTabs_setting{
    background-color: #f5f5f5;
    padding-left: 100px;
    padding-right: 100px;
}

#myTabContent{
    padding-left: 100px;
    padding-right: 100px;
}

#list_brand{
    align-items: center;
}

#panel_brand{
    height: 50%;
    width: 100%;
}

#table_garage{
    width: 100%;
}

#panel_garage{
    height: 50%;
    overflow-y: scroll;
}

#panel_car_registration_report{
    height: 50%;
    overflow: scroll;
}

#header_table_garage{
    background-image: url(Resource/gray_trans.png);
}

#header_table_reg{
    background-image: url(Resource/gray_trans.png);
}

#header_table_brand{
    background-image: url(Resource/gray_trans.png);
}
